.page-intro {
  color: var(--color-white);
  text-shadow: 0 0 6px rgba(0,0,0,0.8);
  background-color: #728D76;
  background-size: cover;
  background-position: center;
  text-align: center;

  > div {
    display: inline-block;
    max-width: var(--max-width);
    text-align: initial;
    margin: 3rem 1rem;

    > h1  {
      font-size: var(--font-size-5);
      margin: 0;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }

    > p {
      font-size: var(--font-size-3);
      margin: 0;
      margin-top: 1rem;
    }
  }
}
