---
title: Athega - Du har redan sett vad vi gjort
tagline: DU HAR REDAN SETT VAD VI GJORT
sub-tagline: Utan att du vet om det har du säkert sett något vi utvecklat
---
<section class="intro">
    <div class="video-container">
        <div class="video-overlay"></div>
        <iframe id="intro-video" width="100%" height="750" frameborder="0"></iframe>
    </div>
    <div class="container">
        <div class="heading-wrap">
            <h1>{{ page.tagline }}<span class="smaller">{{ page.sub-tagline}}</span></h1>
        </div>
    </div>
</section>

{% include home/featured-blog.html %}

{% include home/featured-works.html %}

{% include home/consult.html %}

{% include home/challenges.html %}
