<header id="site-header">
	<div class="container">
		<div class="logo-wrap">
			<a class="main-logo" href="/">
				<img src="/assets/img/logo.png"/>
			</a>
		</div>
		<a id="main-menu-button" href="#">
			<svg>
				<use xlink:href="#triple-bars" />
			</svg>
		</a>
		<nav id="main-menu">
			<ul>
				<li class="have-submenu">
					<a href="#">Tjänster</a>
					<ul class="submenu">
						<li><a href="#">Submenu Item</a></li>
						<li><a href="#">A bit longer submenu Item</a></li>
						<li><a href="#">Another submenu item</a></li>
						<li><a href="#">The 4th item</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Om oss</a>
				</li>
				<li>
					<a href="#">Case</a>
				</li>
				<li>
					<a href="#">Jobba här</a>
				</li>
				<li class="have-submenu">
					<a href="/blogg/">Blogg</a>
					<ul class="submenu">
						{%for post in site.posts %}
						  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
						  {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
							{% if year != nyear %}
						    <li><a href="/blogg/{{ year }}/">{{ year }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
				<li>
					<a href="#">Kontakt</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
