.employee-index {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  > li {
    width: 33.3%;
  }
}

.employee-index::after {
  content: "";
  flex: auto;
}

.employee-profile {
  margin-bottom: 0.6em;

  h1 {
    margin-bottom: 0;
    line-height: 0.9;
  }

  .title {
    color: #aaa;
    text-transform: uppercase;
    display: block;
    font-size: 1.4em;
    margin-bottom: 0.67em;
  }
}
