.employee-profile {
  .portrait {
    max-width: 105vw;
    margin-left: -6%;
  }

  h1 {
    margin-bottom: 0;
  }

  .title {
    color: #aaa;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.67em;
  }
}
