<style>
  {% include "ai-labbet/industri.css" %}
</style>

<section class="industry content">
  <div class="hero">
    Vi är experter på avancerade lösningar för industriella
    miljöer som bygger på senaste tekniken inom artificiell
    intelligens och maskininlärning
  </div>

  <div class="benefits">
    Vi minimerar tröskeln till att börja använda AI för
    industriella tillämpningar och säkerställer samtidigt att
    lösningen ger långsiktig affärsnytta. Vi erbjuder ett
    helhetsansvar som kan inkludera både hårdvara,
    mjukvara och expertstöd. Det gör införandet
    effektivt och resultatet förutsägbart.
  </div>
</section>

<section class="industry content">
  <div class="grid-container">
    <div class="grid-item">
      <img src="/assets/img/icons/study.svg" alt="Förstudie">
      <h3>Förstudie</h3>
      <p>Vi genomför en analys och ett förberedande proof of concept vilken säkerställer att offererad lösning genererar förväntat affärsvärde.</p>
    </div>
    <div class="grid-item">
      <img src="/assets/img/icons/design.svg" alt="Design">
      <h3>Design & genomförande</h3>
      <p>Utveckling av lösningen, anpassning till kundens specifika förutsättningar och krav. Test och validering.</p>
    </div>
    <div class="grid-item">
      <img src="/assets/img/icons/factory.svg" alt="Produktionssättning">
      <h3>Produktionssättning</h3>
      <p>Utrullning av lösningen. Ofta sker detta på edge-noder där beräkningarna sker i realtid nära processen.</p>
    </div>
    <div class="grid-item">
      <img src="/assets/img/icons/lifecycle.svg" alt="Livscykelhantering">
      <h3>Livscykelhantering</h3>
      <p>Fortsatt drift enligt SLA eller behovsanpassad utbildning för er personal.</p>
    </div>
  </div>
</section>

<section class="industry intro">
  <div class="intro-container">
    <div class="intro-item">
      <img src="/assets/img/ai-labbet/industri/conveyor_belt.webp">
    </div>
    <div class="intro-item">
      <p>Vi hjälper industriföretag att ta nästa steg i sin digitala utveckling genom avancerad dataanalys, maskininlärning och AI. Vårt uppdrag är att lösa verkliga problem med praktiska, pålitliga lösningar – från optimering av produktion till prediktivt underhåll och intelligent beslutsstöd.</p>
      <p>Vi har sedan 2016 hjälpt företag, både med modern AI-teknik och klassisk statistik, inom områden som larm- och säkerhet, fordon, logistik, gruvindustri och hälsa. Vår långa erfarenhet av mjukvaruutveckling och spetskompetens inom AI  kombinerat med branschkännedom gör att vi kan skapa mätbart värde.</p>
    </div>
  </div>
</section>

<section class="industry content">
  <center>
    <h2>Kundexempel</h2>
  </center>
  <div class="example-container">
    <div class="example-item">
      <img src="/assets/img/icons/study.svg" alt="Förstudie">
      <h3>Analys</h3>
      <p>Vi genomförde en analys och levererade en lösning som förbättrade ruttplaneringen för ett transportföretag.</p>
    </div>
    <div class="example-item">
      <img src="/assets/img/icons/design.svg" alt="Design">
      <h3>Sensoroptimering</h3>
      <p>Vi analyserade stora mängder data med hjälp av AI-algoritmer och levererade en bedömning om möjligheten att optimera hårdvaran med hjälp av mjukvara.</p>
      <p>Resultatet visade att maskininlärning löste problemet.  Befintlig hårdvara kunde behållas om ett beräknings-lager användes.</p>
    </div>
    <div class="example-item">
      <img src="/assets/img/icons/factory.svg" alt="Produktionssättning">
      <h3>Kvalitetsmonitorering</h3>
      <p>Vi var med och utvecklade ett kvalitetskontrollsystem för industriföretag där realtidsanalys sker med hjälp av data från en linjescankamera. Beräkningarna sker nära processen på en Edge-node.</p>
    </div>
  </div>
</section>

<section class="home-dash industry contact">
  <div>
    <h2>Kontakta oss idag på <a href="mailto:industri@athega.se">industri@athega.se</a></h2>
    <p>Låt oss optimera din produktion med avancerad AI-teknik.</p>
    <p>Ta steget mot effektivare processer och smart automation.</p>
  </div>
</section>
