/* TODO: Move all media rules to where they belong and delete this file. */

@media (max-width: 1599px) {

    .heading-wrap {
        right: 0;
    }
}

@media (max-width: 1365px) {

    html {
        font-size: 16px;
    }
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
    .heading-wrap {
        right: auto;
        left: 50%;
        margin-left: -250px;
        height: 300px;
    }
    .heading-wrap h1 {
        text-align: center;
    }
}

@media (max-width: 1023px) {
    .container {
        max-width: 100%;
        padding: 0 5%;
    }

    .part-3 {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
}
