<footer class="site-footer">
  <div class="shell footer-top">
    <div><img src="/assets/Athega_logo.svg" alt="Athega" width="128" height="36"></div>
    <div class="footer-links"><span>Besök</span><a href="/om-oss/">Om oss</a><a href="/jobba/">Jobba med oss</a><a href="/konsultnatverk/">Konsultnätverket</a><a href="/blogg/">Blogg</a></div>
    <div class="footer-links"><span>Kontakt</span><a href="mailto:reception@athega.se">reception@athega.se</a><p>Lunkentusvägen 7<br>167 63 Bromma</p></div>
    <div class="footer-links"><span>Följ oss</span><a href="https://www.linkedin.com/company/athega-ab">LinkedIn ↗</a><a href="https://github.com/athega/">GitHub ↗</a></div>
  </div>
  <div class="shell footer-bottom"><span>© {{ 'now' | date: '%Y' }} Athega AB</span><span>Org.nr 556547-6693</span></div>
</footer>
