<footer>
    <div>
        <p>Athega AB</p>
        <p>Hantverkargatan 21</p>
        <p>112 21 Stockholm</p>
    </div>
    <div>
        <p>08-545 133 30</p>
        <p>reception@athega.se</p>
        <p>jobb@athega.se</p>
    </div>
    <ul>
        <li>
            <a href="#">
                {% include footer/social-linkedin.svg %}
            </a>
        </li>
        <li>
            <a href="#">
                {% include footer/social-instagram.svg %}
            </a>
        </li>
        <li>
            <a href="#">
                {% include footer/social-facebook.svg %}
            </a>
        </li>
    </ul>
    <div>
        <p class="copyright">© 2016 All rights reserved</p>
        <a href="#">Användaravtal</a>
        <a href="#">Cookies </a>
        <a href="#">Privacy Policy</a>
    </div>
</footer>
