body {
    > header {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        height: 4em;
        color: $white;
        padding: 0.5rem 0;
        border-bottom: 3px solid darken($orange, 5);
        background-color: $orange;

        > div {
            max-width: 1024px;
            height: 100%;
            margin: 0 auto;

            > a:first-of-type {
                padding-left: 1rem;
                float: left;
                height: 100%;
                max-width: 66%;

                > img {
                    display: block;
                    height: 95%;
                    margin-right: 2.1rem;
                }
            }
        }

        + * {
            margin-top: 4.5rem;
        }
    }
}
