<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Athega - {{ page.title }}</title>
    <link rel="apple-touch-icon" sizes="192x192" type="image/png"     href="/assets/img/icon.png">
    <link rel="icon"             sizes="192x192" type="image/png"     href="/assets/img/icon.png">
    <link rel="icon"                             type="image/x-icon"  href="/favicon.ico">
    <link rel="icon"                             type="image/svg+xml" href="/assets/img/icon.svg">
    <link rel="stylesheet" href="/assets/site.css" type="text/css">
</head>
<body>
    {% include header.html %}
    <main>
        {{ content }}
    </main>
    {% include footer.html %}
    <script src="/assets/site.js"></script>
</body>
</html>
