html {
  text-rendering: auto;
  font-style: normal;
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-p);
  font-size: var(--font-size-1);
  line-height: var(--line-height-p);
  background: var(--color-orange);
  color: var(--color-gray);

  font-optical-sizing: auto;

  > body {
    margin: 0;

    > main {
      background: var(--color-white);
      padding-bottom: 3em;

      > .content {
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 5%;
        overflow: hidden;

        > p {
          margin-top: 0;
          margin-bottom: 1.5em;
        }

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

header ::selection, footer ::selection {
  color: var(--color-black);
  background: var(--color-white);
}

section ::selection, main article ::selection {
  color: var(--color-white);
  background: var(--color-orange);
}

body > footer {
  > * {
    > p {
      font-size: var(--font-size-1);
      margin: 0;
      margin-bottom: 1em;
    }
  }

  > ul {
    > li {
      font-size: var(--font-size-1);
    }
  }
}

h1 { font-size: var(--font-size-5); margin-bottom: calc(var(--font-size-5) / 2); }
h2 { font-size: var(--font-size-4); margin-bottom: calc(var(--font-size-4) / 3); }
h3 { font-size: var(--font-size-3); margin-bottom: calc(var(--font-size-3) / 3); }
h4 { font-size: var(--font-size-2); margin-bottom: calc(var(--font-size-2) / 3); }
h5 { font-size: var(--font-size-1); margin-bottom: calc(var(--font-size-1) / 4); }
h6 { font-size: var(--font-size-1); margin-bottom: calc(var(--font-size-1) / 4); }

p, li, a {
  font-size: var(--font-size-1);
}

h1, h2, h3, h4, h5 {
  font-weight: var(--font-weight-h);
  line-height: var(--line-height-h);
}

a,
a:visited {
  color: #f60;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #ff9249;
  text-decoration: underline;
}

code, pre {
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-m);
  color: var(--color-black);
  font-optical-sizing: auto;
}

pre {
  padding: 0.6em 0.8em;
  background-color: #7C7C7C;
  border-radius: 4px;
  border: 1px solid #CECECE;
  overflow-x: auto;
  line-height: 1.1;
}

blockquote {
  border-left: 0.3em solid var(--color-orange);
  margin: 1em 0;
  padding: 0.05em 1.3em 0.05em 1.3em;
  font-style: italic;
}

hr {
  clear: both;
  color: #FEFEFE;
}

.float_right {
  float: right;

  @media (max-width: 848px) {
    float: none;
  }
}
