*, *::before, *::after {
    box-sizing: border-box;
}
html, body {
    font: 400 17px/1.35em 'Lato', sans-serif;
    color: #383737;
}
#svg-icons-stock {
    display: none;
}
section {
    position: relative;
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.part-3 {
    position: relative;
    float: left;
    width: 31%;
    margin-right: 3%;
}
.part-3:nth-of-type(3n) {
    margin-right: 0;
}
h3, h4, h5, h6 {
    line-height: 1.3em;
    margin: 1em 0 0.8em;
}
h1, h2 {
    font-weight: 900;
}
h2 {
    margin: 2.4em 0 0.4em;
    line-height: 1.2em;
    font-size: 2.25rem;
}
p {
    font: 400 1rem/1.35em 'Lato', sans-serif;
    color: #383737;
}
p.description {
    margin: 1em 0 3em;
    line-height: 1.5em;
    font-size: 1.2rem;
    color: #4f4d4d;
}
h2, p.description {
    text-align: center;
}
a, a:visited {
    color: #ff6803;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    color: #FF9249;
}
.background {
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
}
.video-container {
    overflow: hidden;
    text-align: center;
}
.video-container iframe {
    display: block;
    position: relative;
    pointer-events: none;
}
.video-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/video-overlay.png') center center no-repeat;
    background-size: cover;
}

/*apply standard transition*/
a,
a::before,
a::after,
#site-header,
.logo-wrap,
#main-menu .submenu,
article .info::before,
.owl-prev, .owl-next {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
