.index {
    max-width: 940px;
}
.index li {
    background-image: url(/assets/img/user-image.png);
    background-size: 1.75rem;
    background-repeat: no-repeat;
    background-position: 0 0.3rem;
    padding-left: 3.5rem;
}
.index h2 {
    font-size: 1.75rem;
    font-weight: 500;
    text-align: left;
    margin-top: 2rem;
}
.index .meta {
    color: #9f9d9d;
    font-size: 0.8rem;
}
