<section class="blog-archive content">
  <h1>{{ title }}</h1>
  <ul class="featured">
    {% assign featured_posts = collections.posts | slice: 0, 3 %}
    {% for post in featured_posts %}
    <li>
      <a href="{{ post.url | removeHtmlExtension }}" title="Läs mer om: {{ post.data.title }}">
        {% if post.data.image_url %}
        <figure><img src="{{ post.data.image_url }}"></figure>
        {% endif %}
        <h2>{{ post.data.title }}</h2>
        <p>{{ post.data.description }}</p>
      </a>
    </li>
    {% endfor %}
  </ul>
  <hr>
  {%- for post in collections.posts -%}
  {%- capture post_year %}{{- post.date | date: '%Y' -}}{% endcapture -%}
  {%- assign next_year = "" -%}
  {%- if post.data.next -%}
  {%- capture next_year %}{{- post.data.next.date | date: '%Y' -}}{% endcapture -%}
  {%- endif -%}
  {%- if post_year != next_year %}
  <strong>
    {% if post_year == year -%}
    {{ post_year }}
    {%- else -%}
    <a href="/blogg/{{ post_year }}/">{{ post_year }}</a>
    {%- endif %}
  </strong>
  {%- endif -%}
  {%- endfor %}
</section>
