.blog-archive {
  strong {
    font-size: 2em;
    margin-right: 0.5em;
  }

  > ul.featured {
    list-style: none;
    padding: 0;

    > li {
      clear: left;
      width: 100%;
      margin-bottom: 1.5em;

      > a {
        color: inherit;
      }

      > a:hover {
        text-decoration: none;

        h3 {
          color: #000;
          text-decoration: underline;
        }
      }
    }

    figure {
      margin: 0 1em 1em 0;
    }

    @media (min-width: 848px) {
      figure {
        float: left;
        width: 30%;
      }
    }
  }
}
