<section class="blog-archive content">
    <h1>{{ page.title }}</h1>

    <ul class="featured">
        {% for post in site.posts limit: 3 %}
        <li>
            <a href="{{ post.url }}" title="Läs mer om: {{ post.title }}">
                {% if post.image_url %}
                  <figure><img src="{{ post.image_url }}"></figure>
                {% endif %}
                <h3>{{ post.title }}</h3>
                <p>{{ post.description }}</p>
            </a>
        </li>

        {% endfor %}
    </ul>

    <br style="clear:both">

    <h2>Arkiv</h2>

    {% for post in site.posts %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture next_year %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != next_year %}
          <h3><a href="/blogg/{{ year }}/">{{ year }}</a></h3>
        {% endif %}
    {% endfor %}
</section>
