<section class="blog-index content">
  <h1>{{ title }}</h1>
  <ul>
    {%- for post in collections.posts %}
    {%- capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {%- if post_year == year %}
    <li>
      <a href="{{ post.url | removeHtmlExtension }}" title="Läs mer om: {{ post.data.title }}">
        <h2>{{ post.data.title }}</h2>
        <p>{{ post.data.description }}</p>
      </a>
    </li>
    {%- endif %}
    {%- endfor %}
  </ul>
  <hr>
  {%- for post in collections.posts -%}
  {%- capture post_year %}{{- post.date | date: '%Y' -}}{% endcapture -%}
  {%- capture next_year %}{{- post.data.next.date | date: '%Y' -}}{% endcapture -%}
  {%- if post_year != next_year %}
  <strong>
    {% if post_year == year -%}
    {{ post_year }}
    {%- else -%}
    <a href="/blogg/{{ post_year }}/">{{ post_year }}</a>
    {%- endif %}
  </strong>
  {%- endif -%}
  {%- endfor %}
</section>
