.blog-index {
  strong, strong a {
    font-size: var(--font-size-4);
    display: inline-block;
    width: 5ch;
  }

  > ul {
    list-style: none;
    padding: 0;

    > li {
      clear: left;
      width: 100%;

      > a {
        color: inherit;

        p {
          margin-top: 0.3rem;
          margin-bottom: 2rem;
        }
      }

      > a:hover {
        text-decoration: none;

        h2 {
          color: #000;
          text-decoration: underline;
          padding: 0;
        }
      }

      h2 {
        margin-bottom: 0rem;
      }
    }
  }
}
