.blog-post {
  time {
    color: #888;
    text-transform: uppercase;
    font-size: var(--font-size-0);
  }

  .full {
    width: 100%;
  }

  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
