---
---

:root {
  --max-width: 900px;
  --scale-ratio: 1.200;
  --header-height: 3.2rem;
  --font-family-sans: "Inter",system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,Helvetica,Arial,"Helvetica Neue",sans-serif;
  --font-family-mono: "Office Code Pro D","Source Code Pro",ui-monospace,SFMono-Regular,"SF Mono",Menlo,Consolas,"Liberation Mono",monospace;
  --font-size-0: clamp(12px, calc(var(--font-size-1) * 0.9), 16px);
  --font-size-1: clamp(14px, 1rem, 18px);
  --font-size-2: clamp(18px, calc(var(--font-size-1) * var(--scale-ratio)), 22px);
  --font-size-3: clamp(23px, calc(var(--font-size-2) * var(--scale-ratio)), 29px);
  --font-size-4: clamp(27px, calc(var(--font-size-3) * var(--scale-ratio)), 38px);
  --font-size-5: clamp(33px, calc(var(--font-size-4) * var(--scale-ratio)), 51px);
  --font-weight-h: 600;
  --font-weight-m: 500;
  --font-weight-p: 400;
  --line-height-h: 1.15;
  --line-height-p: 1.5;
  --color-black: #222;
  --color-gray: #363636;
  --color-gray-light: #AAA;
  --color-orange: #FF6600;
  --color-orange-dark: #F56200;
  --color-white: #FFFFFF;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:wght@500&display=swap');

@import "lib/rouge-github";
@import "layout";
@import "header";
@import "header/main-menu";
@import "home/intro";
@import "home/about";
@import "home/blog";
@import "home/roles";
@import "home/dash";
@import "home/challanges";
@import "blog/archive";
@import "blog/index";
@import "blog/post";
@import "page/intro";
@import "employees/employee";
@import "footer";
