<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/assets/themes/athega/css/style.css" type="text/css">
	<link rel="stylesheet" href="/assets/themes/athega/css/adaptive.css" type="text/css">
	<link rel="stylesheet" href="/assets/themes/athega/css/owl.carousel.css" type="text/css">
	<link href='//fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
{% include themes/athega/components/header.html %}

<section class="intro">
	<div class="video-container">
		<div class="video-overlay"></div>
		<iframe id="intro-video" width="100%" height="750" frameborder="0" allowfullscreen="" src="//www.youtube.com/embed/DPO3wLBHFaU?rel=0&wmode=opaque&controls=0&modestbranding=1&showinfo=0&autohide=1&autoplay=1&loop=1&playlist=DPO3wLBHFaU"></iframe>
	</div>
	<div class="container">
		<div class="heading-wrap">
			<h1>{{ page.tagline }}<span class="smaller">{{ page.sub-tagline}}</span></h1>
		</div>
	</div>
</section>


<section class="featured-blog">
	<div class="container">
		<h2>BLOGG OCH NYHETER</h2>
		<p class="description">At explab in cores escid modigendi nonecta tiistem voluptum voloresequi.</p>
		<div class="owl-wrapper">
			<div class="slider-controls"></div>
			<div class="owl-carousel articles">
				{% for post in site.posts limit 5 %}
				<article class="blog-item item-{{ forloop.index }}">
					<a href="{{ post.url }}">
						<div class="meta">
							<img src="/assets/themes/athega/img/user-image.png" alt="user-image" class="tuser-image">
							<p class="username">{{ post.category | default: 'Athegabloggen' }}</p>
							<p class="date">{{ post.date | date: "%Y-%m-%d" }}</p>
						</div>
						<h3>{{ post.title }}</h3>
					</a>
					<p>Med ett spann på en genomgång av hur virtuella truckar på Volvo fungerar. Med ett spann på en genomgång av hur virtuella truckar på Volvo…</p>
				</article>
				{% endfor %}
				<article class="blog-item item-3">
					<div class="meta">
						<img src="/assets/themes/athega/img/user-image.png" alt="user-image" class="tuser-image">
						<p class="username">Athegabloggen</p>
						<p class="date">2016-03-14</p>
					</div>
					<h3><a href="#">QCon London 2016 - Take aways</a></h3>
					<p>Med ett spann på en genomgång av hur virtuella truckar på Volvo fungerar. Med ett spann på en genomgång av hur virtuella truckar på Volvo…</p>
				</article>
				<article class="blog-item item-4">
					<div class="meta">
						<img src="/assets/themes/athega/img/user-image.png" alt="user-image" class="tuser-image">
						<p class="username">Athegabloggen</p>
						<p class="date">2016-03-14</p>
					</div>
					<h3><a href="#">JavaScript och isomorfism</a></h3>
					<p>Efterfrågan kring erfarenhet av node.js och isomorfiska tillämpningar har fullkommligt exploderat. Efterfrågan kring erfarenhet av node.js och isomorfiska tillämpningar…</p>
				</article>
				<article class="blog-item item-5">
					<div class="meta">
						<img src="/assets/themes/athega/img/user-image.png" alt="user-image" class="tuser-image">
						<p class="username">Athegabloggen</p>
						<p class="date">2016-03-14</p>
					</div>
					<h3><a href="#">Öppna kartor</a></h3>
					<p>Lantmäteriet har vid årsskiftet släppt vissa av fria som öppen data sina kartor. Lantmäteriet har vid årsskiftet släppt vissa av fria som öppen data sina kartor…</p>
				</article>
			</div>
		</div>
	</div>
</section>


<section class="featured-works">
	<div class="container">
		<h2>DU HAR SETT VAD VI HAR GJORT</h2>
		<p class="description">Vi har experterna till mediabranschen. Aftonbladet, Expressen, SvD, TV4, UR, Ericsson och SEB är några kunder vi samarbetar med. Utan att du vet om det har du säkert sett något vi varit med och utvecklat.</p>
		<div class="articles">
			<article class="featured-video part-3">
				<a href="#">
					<div class="background" style="background-image: url('/assets/themes/athega/img/play-video.png');"></div>
					<div class="info">
						<h3>Aftonbladet</h3>
					</div>
				</a>
			</article>
			<article class="featured-video part-3">
				<a href="#">
					<div class="background" style="background-image: url('/assets/themes/athega/img/play-video.png');"></div>
					<div class="info">
						<h3>Kia Motors</h3>
					</div>
				</a>
			</article>
			<article class="featured-video part-3">
				<a href="#">
					<div class="background" style="background-image: url('/assets/themes/athega/img/play-video.png');"></div>
					<div class="info">
						<h3>TV 4 Play</h3>
					</div>
				</a>
			</article>
		</div>
		<div class="centered-button">
			<a class="more-videos" href="#">Se flera cases här</a>
		</div>
	</div>
</section>


<section class="consult">
	<div class="video-container">
		<div class="video-overlay"></div>
		<iframe id="consult-video" width="100%" height="500" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/iR78q9D6us8?rel=0&wmode=opaque&controls=0&modestbranding=1&showinfo=0&autohide=1&autoplay=1&loop=1&playlist=iR78q9D6us8"></iframe>
	</div>
	<div class="consult-wrap">
		<h2>BEHÖVER DU EN KONSULT?</h2>
	</div>
</section>


<section class="challenges">
	<div class="container">
		<h2>SÖKER DU NYA  UTMANINGAR?</h2>
		<p class="description">Vi  är hela tiden intresseade av talanger inom system- och webbutveckling. Så är du intresserad av att arbeta som konsult på ett innovativt företag där du får möjlighet att utvecklas inom ditt område, kontakta oss på <a href="#">jobb@athega.se</a>
		</p>
		<div class="articles revealing">
			<article class="blog-item item-1 part-3">
				<div class="background" style="background-image: url('/assets/themes/athega/img/challange-placeholder.png');"></div>
				<div class="info">
					<h3>Våra tjänster och kompetenser</h3>
				</div>
				<div class="hidden-info">
					<p>Athega har en lite annorlunda syn på IT-konsultation än många andra företag. Vi värderar högt att kunna matcha vår tekniska kompetens mot era önskemål, men det är faktiskt en själv-klarhet. Det finns så mycket mer som är värdefullt för dig som kund.</p>
					<a class="read-more" href="#">Läs mer</a>
				</div>
			</article>
			<article class="blog-item item-2 part-3">
				<div class="background" style="background-image: url('/assets/themes/athega/img/challange-placeholder.png');"></div>
				<div class="info">
					<h3>Alex om att vara konsult</h3>
				</div>
				<div class="hidden-info">
					<p>Athega har en lite annorlunda syn på IT-konsultation än många andra företag. Vi värderar högt att kunna matcha vår tekniska kompetens mot era önskemål, men det är faktiskt en själv-klarhet. Det finns så mycket mer som är värdefullt för dig som kund.</p>
					<a class="read-more" href="#">Läs mer</a>
				</div>
			</article>
			<article class="blog-item item-3 part-3">
				<div class="background" style="background-image: url('/assets/themes/athega/img/challange-placeholder.png');"></div>
				<div class="info">
					<h3>Jobba med oss</h3>
				</div>
				<div class="hidden-info">
					<p>Athega har en lite annorlunda syn på IT-konsultation än många andra företag. Vi värderar högt att kunna matcha vår tekniska kompetens mot era önskemål, men det är faktiskt en själv-klarhet. Det finns så mycket mer som är värdefullt för dig som kund.</p>
					<a class="read-more" href="#">Läs mer</a>
				</div>
			</article>
		</div>
	</div>
</section>

{% include themes/athega/components/footer.html %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.js"></script>
<script src="/assets/themes/athega/js/utils.js"></script>
<script src="/assets/themes/athega/js/script.js"></script>
<script src="/assets/themes/athega/js/owl.carousel.min.js"></script>
</body>
</html>
