<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/assets/themes/athega/css/style.css" type="text/css">
	<link rel="stylesheet" href="/assets/themes/athega/css/adaptive.css" type="text/css">
	<link rel="stylesheet" href="/assets/themes/athega/css/owl.carousel.css" type="text/css">
	<link href='//fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
{% include themes/athega/components/header.html %}

<section class="intro">
	<div class="video-container">
		<div class="video-overlay"></div>
		<iframe id="intro-video" width="100%" height="750" frameborder="0" allowfullscreen="" src="//www.youtube.com/embed/R23sZk8CAXE?rel=0&wmode=opaque&controls=0&modestbranding=1&showinfo=0&autohide=1&autoplay=1&loop=1&playlist=R23sZk8CAXE"></iframe>
	</div>
	<div class="container">
		<div class="heading-wrap">
			<h1>{{ page.tagline }}<span class="smaller">{{ page.sub-tagline}}</span></h1>
		</div>
	</div>
</section>

{% include themes/athega/home/featured-blog.html %}

{% include themes/athega/home/featured-works.html %}

{% include themes/athega/home/consult.html %}

{% include themes/athega/home/challenges.html %}

{% include themes/athega/components/footer.html %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.js"></script>
<script src="/assets/themes/athega/js/utils.js"></script>
<script src="/assets/themes/athega/js/script.js"></script>
<script src="/assets/themes/athega/js/owl.carousel.min.js"></script>
</body>
</html>
