<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/site.css" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
{% include themes/athega/components/header.html %}

<section class="intro">
    <div class="video-container">
        <div class="video-overlay"></div>
        <iframe id="intro-video" width="100%" height="750" frameborder="0"></iframe>
    </div>
    <div class="container">
        <div class="heading-wrap">
            <h1>{{ page.tagline }}<span class="smaller">{{ page.sub-tagline}}</span></h1>
        </div>
    </div>
</section>

{% include themes/athega/home/featured-blog.html %}

{% include themes/athega/home/featured-works.html %}

{% include themes/athega/home/consult.html %}

{% include themes/athega/home/challenges.html %}

{% include themes/athega/components/footer.html %}
<script src="/assets/site.js"></script>
</body>
</html>
