.header-main-menu {
    height: 80%;
    text-align: right;

    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: initial;

        > li {
            > a {
                display: inline-block;
                padding: 0 0.3em;

                font-size: 1.3rem;
                color: inherit;
                font-weight: 400;
            }
            > a:hover {
                text-decoration: none;
                text-shadow: none;
            }
        }
    }

    @media (max-width: 848px) {
        &:target > a:first-of-type,
        &:not(:target) > a:last-of-type,
        &:not(:target) > ul {
            display: none;
        }

        > a {
            height: 90%;

            > img {
                width: auto;
                height: 100%;
                margin-top: 0.1em;
                margin-right: 0.4em;
            }
        }

        > ul {
            background-color: $orange;
            border-bottom: 3px solid darken($orange, 5);
            padding: 1em 0.5em;

            > li {
                > a {
                    width: 100%;
                    font-size: 2rem;
                    line-height: 5rem;
                }
            }
        }
    }

    @media (min-width: 848px) {
        > a {
            display: none;
        }

        > ul {
            height: 90%;

            &::before {
                content: "";
                display: inline-block;
                height: 100%;
                vertical-align: bottom;
            }

            > li {
                display: inline-block;
                vertical-align: bottom;
                margin: 0 0.3em;
            }
        }
    }
}
