.header-main-menu {
    float: right;
    height: 100%;
    text-align: right;

    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: initial;

        > li {
            > a {
                display: inline-block;
                padding: 0 0.3em;
                font-size: 1.2rem;
                color: inherit;
                font-weight: 400;
            }
        }
    }

    @media (max-width: 847px) {
        &:target > a:first-of-type,
        &:not(:target) > a:last-of-type,
        &:not(:target) > ul {
            display: none;
        }

        > a {
            height: 100%;

            > img {
                width: auto;
                height: 100%;
            }
        }

        > ul {
            background-color: #f60;
            padding: 0.5em;

            > li {
            }
        }
    }

    @media (min-width: 848px) {
        > a {
            display: none;
        }

        > ul {
            height: 100%;

            &::before {
                content: "";
                display: inline-block;
                height: 100%;
                vertical-align: bottom;
            }

            > li {
                display: inline-block;
                vertical-align: bottom;
                margin: 0 0.3em;
            }
        }
    }
}
