<nav id="main-menu">
    <a href="#main-menu">
        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMywxOGgxOHYtMkgzVjE4eiBNMywxM2gxOHYtMkgzVjEzeiBNMyw2djJoMThWNkgzeiIvPjwvc3ZnPg==">
    </a>
    <ul>
        <li>
            <a href="#">Tjänster</a>
        </li>
        <li>
            <a href="#">Om oss</a>
        </li>
        <li>
            <a href="#">Case</a>
        </li>
        <li>
            <a href="#">Jobba här</a>
        </li>
        <li>
            <a href="/blogg/">Blogg</a>
        </li>
        <li>
            <a href="#">Kontakt</a>
        </li>
    </ul>
</nav>
