<nav class="header-main-menu" id="Meny">
    <a href="#Meny">
        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMywxOGgxOHYtMkgzVjE4eiBNMywxM2gxOHYtMkgzVjEzeiBNMyw2djJoMThWNkgzeiIvPjwvc3ZnPg==">
    </a>
    <a href="#Stäng">
        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNi42IDQuNUw0LjUgNi42IDkuOSAxMmwtNS40IDUuNCAyLjEgMi4xIDUuNC01LjQgNS40IDUuNCAyLjEtMi4xLTUuNC01LjQgNS40LTUuNC0yLjEtMi4xTDEyIDkuOSA2LjYgNC41eiIvPjwvc3ZnPg==">
    </a>
    <ul>
        <li>
            <a href="#">Tjänster</a>
        </li>
        <li>
            <a href="#">Om oss</a>
        </li>
        <li>
            <a href="#">Case</a>
        </li>
        <li>
            <a href="#">Jobba här</a>
        </li>
        <li>
            <a href="/blogg/">Blogg</a>
        </li>
        <li>
            <a href="#">Kontakt</a>
        </li>
    </ul>
</nav>
