<section class="blogg-index">
    <div class="container">
        <h1>{{ page.title }}</h1>
        <ul>
            {%for post in site.posts %}
            {% capture pyear %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% if pyear == page.year %}
            <li>
                <article class="blog-item">
                    <a href="{{ post.url }}">
                        <h2>{{ post.title }}</h2>
                    </a>
                    <div class="meta">
                        {{ post.date | date: "%Y-%m-%d" }}
                        {{ post.category | default: 'Athegabloggen' }}
                    </div>
                    <p>{{ post.description }} <a href="{{ post.url }}">»</a></p>
                </article>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>
