{% assign months = "januari|februari|mars|april|maj|juni|juli|augusti|september|oktober|november|december" | split: "|" %}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign day = page.date | date: "%d" %}
{% assign month = months[m] %}
{% assign year = page.date | date: "%Y" %}

<article class="blogg-post">
    <div class="container">
        <h1>{{ page.title }}</h1>
        <time datetime="{{ page.date | date: "%Y-%m-%d"  }}">{{ day }} {{ month }} {{ year }}</time>
        {{ content }}
    </div>
</article>
