<section class="home-dash">
  <div>
    <a href="/ai-labbet/" title="Läs mer om: AI Labbet">
      <h2>AI & Maskininlärning</h2>
      <p>
        Utveckling inom artificiell intelligens och maskininlärning
      </p>
      <p>
        <span>Läs mer om AI Labbet.</span>
      </p>
    </a>
    <a class="grid-shell" href="/ai-labbet/industri/" title="Läs mer om: AI Labbet - Industri">
      <h2>Industri</h2>
      <p>
        Vi är experter på avancerade lösningar för industriella miljöer som bygger 
        på senaste tekniken inom artificiell intelligens och maskininlärning.
      </p>
      <br>
      <div class="grid-container">
        <div class="grid-item">
          <img src="/assets/img/icons/study.svg" alt="Förstudie">
        </div>
        <div class="grid-item">
          <img src="/assets/img/icons/design.svg" alt="Design">
        </div>
        <div class="grid-item">
          <img src="/assets/img/icons/factory.svg" alt="Produktionssättning">
        </div>
        <div class="grid-item">
          <img src="/assets/img/icons/lifecycle.svg" alt="Livscykelhantering">
        </div>
      </div>
    </a>
  </div>
</section>
