<section class="home-blog content">
  <h2>Från bloggen</h2>
  <ul>
  {% assign limit = 6 -%}
  {% for post in site.posts %}
    {%- if post.description -%}
    {%- if post.image_url -%}
    <li>
      <figure>
        <a href="{{ post.url }}" title="Läs mer om: {{ post.title }}">
          <img src="{{ post.image_url }}">
        </a>
      </figure>
      <a href="{{ post.url }}" title="Läs mer om: {{ post.title }}">
        <h3>{{ post.title }}</h3>
      </a>
      <p>{{ post.description }}</p>
    </li>
    {%- assign limit = limit | minus: 1 -%}
    {%- if limit == 0 %}{% break %}{% endif -%}
    {%- endif -%}
    {% endif %}
  {% endfor %}
  </ul>
</section>
