.home-blog {
  > ul {
    list-style: none;
    padding: 0;

    @media (min-width: 848px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 1.5rem 2.9rem;
    }

    > li {
      @media (max-width: 800px) {
        padding-top: 0.5em;
      }

      > figure {
        margin: 0;
        width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;
        > img {
          object-fit: cover;
        }
      }

      > a {
        display: block;
        color: inherit;

        > h3 {
          margin-top: 1rem;
          margin-bottom: 0.3rem;
        }

        > p {
          margin: 0;
          padding-bottom: 0.5rem;

          @media (max-width: 848px) {
            padding-bottom: 1rem;
          }
        }

        &:hover,
        &:focus {
          text-decoration: none;
          outline: 0;

          > h3 {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
