.home-dash {
    color: white;
    background-color: $black;
    text-align: center;

    > div {
        display: inline-block;
        text-align: initial;
        margin: 3rem 5%;

        > h2 {
            margin: 0;
        }

        > a {
            color: inherit;
            display: block;

            &:hover,
            &:focus {
                text-decoration: none;
                outline: 0;

                > p > span {
                    text-decoration: underline;
                }
            }

            > h2 {
                margin: 0;
            }

            > p {
                margin-bottom: 0;
            }
        }
    }
}
