<section class="featured-works">
  <div class="container">
		<h2>Våra kompetensroller i fokus</h2>
		<p class="description">
			Nedan hittar du de roller vi fokuserar vårt erbjudande på i dagsläget.
			Det innebär att vi rekryterar och vidareutbildar och inspirerar oss främst inom dessa områden.
			Vårt mål, kan man säga, är att vi ska erbjuda den bästa kompetensen och erfarenheten inom våra
			fokusområden.
		</p>
		<div class="articles">
			<article class="featured-video part-3">
				<a href="#">
					<div class="background" style="background-image: url('/assets/img/play-video.png');"></div>
					<div class="info">
						<h3>Fullstackutvecklare</h3>
					</div>
				</a>
			</article>
			<article class="featured-video part-3">
				<a href="#">
					<div class="background" style="background-image: url('/assets/img/play-video.png');"></div>
					<div class="info">
						<h3>Frontend</h3>
					</div>
				</a>
			</article>
			<article class="featured-video part-3">
				<a href="#">
					<div class="background" style="background-image: url('/assets/img/play-video.png');"></div>
					<div class="info">
						<h3>Datascientist</h3>
					</div>
				</a>
			</article>
			<article class="featured-video part-3">
				<a href="#">
					<div class="background" style="background-image: url('/assets/img/play-video.png');"></div>
					<div class="info">
						<h3>Apputvecklare</h3>
					</div>
				</a>
			</article>
			<article class="featured-video part-3">
				<a href="#">
					<div class="background" style="background-image: url('/assets/img/play-video.png');"></div>
					<div class="info">
						<h3>Agilcoach och projektledare</h3>
					</div>
				</a>
			</article>

		</div>
		<div class="centered-button">
			<a class="more-videos" href="#">Se flera cases här</a>
		</div>
	</div>
</section>
