<section class="home-featured-blog content">
    <h2>BLOGG OCH NYHETER</h2>
    <p>
        Vi har experterna till mediabranschen. Aftonbladet, Expressen, SvD, TV4, UR, Ericsson och SEB är några kunder vi samarbetar med.
    </p>
    <ul>
        {% for post in site.posts limit: 5 %}
            <li>
                <a href="{{ post.url }}">
                    <time datetime="{{ post.date | date: "%Y-%m-%d"  }}">{{ post.date | date: "%Y-%m-%d" }}</time>
                    <h3>{{ post.title }}</h3>
                    {% if post.description %}
                        <p>{{ post.description }}</p>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
</section>
