<section class="featured-works content">
    <h2>Våra kompetensroller i fokus</h2>
    <p>
        Nedan hittar du de roller vi fokuserar vårt erbjudande på i dagsläget.
        Det innebär att vi rekryterar och vidareutbildar och inspirerar oss främst inom dessa områden.
        Vårt mål, kan man säga, är att vi ska erbjuda den bästa kompetensen och erfarenheten inom våra
        fokusområden.
    </p>
    <ul>
        <li>Fullstackutvecklare</li>
        <li>Frontend</li>
        <li>Datascientist</li>
        <li>Apputvecklare</li>
        <li>Agilcoach och projektledare</li>
    </ul>
</section>
