.home-intro {
    position: relative;
    overflow: hidden;
    color: white;
    background-color: #fc3;
    background-image: url(/assets/img/riddarfjarden.jpg);
    background-size: auto calc(100% + 24px);
    background-position: center;
    text-align: center;

    > canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
    }

    > div {
        position: relative;
        display: inline-block;
        max-width: 32rem;
        text-align: initial;
        text-shadow: 0 0 3px rgba(0,0,0,0.3);
        margin: 3rem 1rem;
        margin-top: 26vh;

        > code {
            display: none;
            position: absolute;
            font-family: inherit;
            font-weight: bold;
            background-color: white;
            padding: 0.1em  1em  0.1em  2.6em;
            margin: -0.1em -1em -0.1em -2.6em;
            border-radius: 0.3em;
            mask-size: cover;
            -webkit-mask-size: cover;
            cursor: pointer;

            > kbd {
                position: absolute;
                color: #009;
                font-weight: normal;
                margin-top: 0.1em;

                &:first-child {
                    transform: translateX(-100%);
                }

                > span {
                    color: purple;
                }
            }
        }

        > h1,
        > code {
            line-height: 1.1;
            font-size: 3.25rem;
        }

        > h1 {
            margin: 0;
        }

        > p {
            font-size: 2rem;
            line-height: 1.3;
            margin: 0;
            margin-top: 1rem;
        }
    }
}
