.home-roles {
    > ul {
        list-style: none;
        padding: 0;
        text-align: center;

        > li {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            text-align: initial;
            margin-bottom: 1.5em;

            > a {
                display: block;
                position: relative;
                overflow: hidden;
                color: inherit;
                margin: 0;

                > .role-body {
                    > img {
                        float: right;
                        width: 95px;
                        height: 95px;
                        margin-right: 0.5rem;
                    }

                    > p {
                        margin-top: 0;
                        padding-top: 0;
                        padding-right: 0.5rem;
                    }
                }

                > h3 {
                    margin-top: 0.5rem;
                    margin-bottom: 0.3rem;
                }

                &:hover,
                &:focus {
                    text-decoration: none;
                    outline: 0;

                    > h3 {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
